.orderlist-container {
  padding: 5px;
}

.btn {
  margin-left: 5px;
  color:rgb(255, 255, 255)
}

.sort-direction {
  background-color: rgb(41, 134, 211);
}

.sort-direction:hover {
  background-color: rgb(85, 156, 214);
}

.clear-list {
  background-color: rgb(180, 50, 40);
}

.clear-list:hover {
  background-color: rgb(212, 71, 61);
}
